.dog-training {
    padding: 60px 0;
    margin: 0 auto;
}

.dog-training__lists {
    display: grid;
    grid-template-columns: repeat(auto-fit, 390px); 
    grid-template-rows: repeat(auto-fit, 260px);
    gap: 20px;
    list-style: none;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: center;
}