.main {
    min-height: 700px;
    background-color: #DCDCDC;
    padding: 60px 0;
}

.main__main {
    display: flex;
    flex-direction: column;
}
.main__title {
    font-family: 'Varela-Regular', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 1.21;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
.main__subtitle {
    font-family: 'Varela-Regular', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.21;
    text-align: center;
    margin: 10px auto 30px;
}

.main__lists{
    margin: 0;
    padding-left: 40px;
}

.main__list {
    list-style: none;
    margin: 0 0 10px 0;
    padding-left: 1em;
}
.main__list::before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}
.main__list:last-of-type{
    margin-bottom: 0;
}
.main__container-club-tasks {
    width: 70%;
    margin: 0 auto;
    background-color: #F9F9F7;
    padding: 35px 30px;
    font-family: 'Varela-Regular', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.main__club-tasks {
    margin: 0 auto 20px;
}
