.main {
    min-height: 700px;
    background-color: #DCDCDC;
    padding: 60px 0;
}

.main__main {
    display: flex;
    flex-direction: column;
}
.main__title {
    font-family: 'Varela-Regular', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 1.21;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
.main__subtitle {
    font-family: 'Varela-Regular', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.21;
    text-align: center;
    margin: 10px auto 30px;
}

.main__lists{
    margin: 0;
    padding-left: 40px;
}

.main__list {
    list-style: none;
    margin: 0 0 10px 0;
    padding-left: 1em;
}
.main__list::before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}
.main__list:last-of-type{
    margin-bottom: 0;
}
.main__container-club-tasks {
    width: 70%;
    margin: 0 auto;
    background-color: #F9F9F7;
    padding: 35px 30px;
    font-family: 'Varela-Regular', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.main__club-tasks {
    margin: 0 auto 20px;
}


.main__dropdown {
    float: left;
    overflow: hidden;
}

.main__dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: rgb(45, 204, 31);
    font-family: inherit;
    margin: 0;
}

.main__dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.main__link_dropdown-content {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.main__link_dropdown-content:hover {
    background-color: #ddd;
}

.main__dropdown:hover .main__dropdown-content {
    display: block;
}