.dogs {
  min-height: 700px;
  padding: 60px 0;
  /* width: 100%; */
}

.dogs-container {
  /* width: 70%; */
}

.dogs-image__main {
  width: 100%;
}

.dogs-images__container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.dogs-images__image-card {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.dogs-images__image {
  width: 100%;
}
