.header {
    max-width: 100%;
    display: flex;
    /* align-items: flex-end;  */
    /* position: relative; */
    flex-direction: column;
    /* border: solid red 1px; */
    margin: 0 20px;
}

.header__image {
    width: 100%;
    height: auto;
    /* position: absolute; */
    width: 100%;
    top: 0;
    left: 0;
}
