.navbar {
    width: 100%;
    height: 100%;
    position: relative;
}
.navbar__container {
    width: 100%;
    position: absolute;
    top: -38px;
    left: 0;
    display: flex;
}
/* .navbar__lists {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
} */
/* .navbar__list {
    flex-basis: 20%;
    text-align: center;
    padding: 10px 0;
    z-index: 20;
    transition: 0.3s ease-in-out;
} */

.navbar__link {
    font-family: 'Varela-Regular', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.21;
    text-decoration:none;
    color: #CDFC05;
    flex-basis: 20%;
    z-index: 20;
    padding: 10px 0;
    text-align: center;
    transition: 0.3s ease-in-out;
}
.navbar__link:hover {
    background-color: #A9A9A9;
}

/* .navbar__list:hover {
    background-color: #A9A9A9;
} */
.navbar__link_active {
    background-color: #A9A9A9;
}
.navbar_dark {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: .3;
    height: 38px;
    width: 100%;
    z-index: 10;
}