.contacts {
  padding: 40px 30px;
}
.contacts__contacts {
  padding: 30px 0 0;
}
.contacts__container-title {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.contacts__line {
  border: solid 1px #000;
  width: 40%;
  margin: auto 20px;
}

.contacts__title {
  font-family: 'Varela-Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.21;
  margin: 0 auto;
}
.contacts__container-main {
  display: flex;
  justify-content: space-between;
}

.contacts__lists {
  list-style: none;
  display: flex;
  margin: 0 0 0 8%;
  padding: 0;
}
.contacts__list {
  margin-right: 12px;
}

.contacts__social-icon {
  height: 45px;
  width: 45px;
  transition: 0.2s ease-in-out;
}

.contacts__social-icon:hover {
  transform: scale(1.1);
}
.contacts__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.21;
  color: #464646;
  margin: 30px 0 0 0;
}

.contacts__subtitle:first-child {
  margin: 0;
}

.contacts__addres {
  font-family: 'Montserrat-Regular', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.21;
  color: #191918;
  margin: 3px 0 0;
}

.contacts__links {
  margin-top: 10px;
}

.contacts__container-map {
  margin: 30px 0 0 0;
}
.contacts__map {
  border: solid 0.5px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
  .contacts {
    padding: 30px 25px;
  }
  .contacts__contacts {
    padding: 20px 0 0;
  }
  .footer__social-icon {
    height: 36px;
    width: 36px;
  }
  .contacts__container-main {
    flex-direction: column;
  }
  .contacts__map {
    width: 100%;
    max-height: 350px;
  }
  .contacts__subtitle {
    margin-top: 20px;
  }
}
@media screen and (max-width: 650px) {
  .contacts {
    padding: 25px 20px;
  }
  .contacts__contacts {
    padding: 20px 0 0;
  }
  .contacts__title {
    font-size: 22px;
  }
  .contacts__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .contacts {
    padding: 20px 15px;
  }
  .contacts__title {
    font-size: 20px;
  }
  .contacts__subtitle {
    font-size: 12px;
  }
  .contacts__addres {
    font-size: 19px;
    margin: 3px 0 0;
  }
}

@media screen and (max-width: 400px) {
  .contacts__line {
    width: 100%;
  }
  .contacts__contacts {
    padding-top: 15px;
  }
  .contacts__title {
    font-size: 17px;
  }
  .contacts__addres {
    font-size: 16px;
  }
  .contacts__subtitle {
    margin-top: 15px;
  }
}
